/* BUTTON COLOURS */
$green-btn-colour: #1eb754;
$green-btn-colour-hover: #0ea343;
;
$blue-btn-colour: #387BE0;
$blue-btn-colour-hover: #195BBD;
;
$pink-btn-colour: #F77B90;
$pink-btn-colour-hover: #EF5873;


